.logo-tipo {
	padding: 10px;
	margin-right: 20px;
}

.logo-tipo img {
	height: 35px;
}

.profile {
	padding: 10px;
	width: 300px;
}

.profile li:first-child {
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 2px;
}

.search {
}

.search h1 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.table__format {
	margin-top: 2%;
}

.pagination__format .pagination {
	margin: 0px;
}

@media (max-width: 767px) {
	.profile {
		color: #FFF;
	}
	.profile a{
		color: #9d9d9d;
		display: block;
		padding: 5px 0;
	}

	.profile a:hover {
		text-decoration: none;
		color: #FFF;
	}

	.pagination__format {
		text-align: center;
	}

	.pagination__format .pagination {
		margin-top: 2%;
		margin-bottom: 2%;
	}

}