body {
	min-height: 100vh;
	background-color: #FFF;
}

.login-form {
	margin-top: 50vh;
	padding: 20px 30px;
	background-color: #808080;
	color: #FFF;

	transform: translateY(-50%);
}

.login-form h1 {
	margin: 0 0 5px;
}

.login-form h2 {
	margin: 0 0 30px;
	font-size: 1em;
}

.login-form h1 img {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}

