body{
	min-height: 100vh; /*Utiliza 100% da tela*/
	background-color: #CCC; /*Cor cinza*/
	/*background-image: url('https://unsplash.it/g/1500/800?random');*/ /*Utiliza imagem aleatória*/
}

.login-form{
	height: 300px; /*Altura da div de login*/
	background-color: #FFF; /*Cor branca*/
	margin-top: 50vh; /*Coloca de margem superior, 50% do tamanho total da tela*/
	transform: translateY(-50%); /*Traduz a posicao vertical para a metade do que tiver*/
}